{% extends 'base.html' %}
{% load i18n %}

{% block main %}
    <div class="card p-4" style="margin-top: 50px">
        <h3 style="font-size: 5vh">{{ post.title }}<br>
            <em style="font-size: medium">{% trans 'Date' %} : {{ post.created_at }}</em>
        </h3>

        <strong style="font-size: medium;color: darkgreen;margin-top: 10px"><em>{% trans 'Author' %} : {{ post.author }}</em></strong>
        <strong style="font-size: medium;color: darkgreen"><em>{% trans 'Category' %}
            : {{ post.category.title }}</em></strong>

{#        <img src="{{ post.thumbnail.url }}" alt="{{ post.thumbnail_alt }}">#}
        <p style="margin-top: 50px">{{ post.content|safe }}</p>

    </div>

{% endblock %}