{% extends 'base.html' %}
{% load i18n %}


{% block main %}
    {% for post in posts %}
        <div class="card p-4" style="margin-top: 50px">
            <h3 style="font-size: 5vh"><a  href="{{ post.get_absolute_url }}">{{ post.title }}</a><br>
                <em style="font-size: medium">{% trans 'Date' %} : {{ post.created_at }}</em>
            </h3>
            <p>{{ post.content|safe|truncatewords:80 }}</p>
            <strong style="font-size: medium;color: darkgreen">{% trans 'Category' %}
                : {{ post.category.title }}</strong>
        </div>

    {% empty %}
        <p>{% trans 'Database is empty' %}</p>
    {% endfor %}

{% endblock %}